upstream bizgpt_front {
    server front:${NODE_PORT};
}

server {
    listen 80;
    listen [::]:80;

    server_name ${SITE_URL};

    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location /_next/static/ {
        alias /_next/static/;
    }

}
